<form action = "/adduser" method="POST">
  <div class="form-group">
    <label class="form-label" for="username">Enter username:</label>
    <input id="username" name="username" class="form-control" type="text">
  </div>
  <button type="submit" class="button-go">Go</button>
</form>
